<div class="bar navbar in-line">
  <div>
    <button *ngIf="isTranslate" class="button-small" (click)="setTranslate(false)">PL</button>
    <button *ngIf="!isTranslate" class="button-small" (click)="setTranslate(true)">EN</button>
  </div>
  <h3>{{ 'navbar.logo' | translate }}</h3>
  <div>
    <ng-container *ngIf="isUser(); else logout">
      <div class="in-line">
        <div> {{user!.name}}</div>
        <button class="button-small" (click)="goToUser()"> {{ 'navbar.edit' | translate }}</button>
        <button class="button-small" (click)="logoutUser()">{{ 'navbar.logout' | translate }}</button>
      </div>
    </ng-container>
    <ng-template #logout>
      <button class="button-small" (click)="goToLogin()">{{ 'navbar.login' | translate }}</button>
    </ng-template>
  </div>
</div>

